@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body{
    margin: 0;
    padding: 0;
    background-color: purple;
}

.profile{
    background-color: #fff;
    border-radius: 0 0 0vw 0;
    width: 80vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    z-index: 1;
    position: absolute;
    /* box-shadow: 0 0 10px black; */
    grid-template-rows: 10% 60%;
    grid-template-columns: 50% 50%;
    animation: profile 0.5s 1 ease;
}
@keyframes profile {
    from{
        border-radius:0 0 0vw 0 ;

    }
    to{
        border-radius: 0 0 50vw 0;
    }
}
.logo-name{
    position: relative;
    left: 1vw;
    top: 2vw;
    margin-right: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: nunito;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: purple;
    font-size: 2.5vw;
    
}
.profilepic{
    width: 21vw;
    height: 21vw;
    position: relative;
    left: -6vw;
    border-radius: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    animation: profilepic 8s infinite  ease;
  box-shadow: inset 0vw 0vw 1vw black;
}
.profilepic1{
    width: 20.5vw;
    height: 20.5vw;
    border-radius: 50vw;
    background-color: #9e21a4;
    animation: profilepic  7s 0.2s infinite  ease;
  
  box-shadow: inset 0vw 0vw 1vw black;
}


@keyframes profilepic {
    0%{
        border-radius: 74vw 108vw 85vw 110vw;
    }
    15%{
        border-radius: 73vw 100vw 77vw 102vw;
    }
    25%{
        border-radius: 70vw 95vw 83vw 108vw;
    }
    40%{
        border-radius: 68vw 85vw 95vw 98vw;
    }
    50%{
        border-radius: 78vw 75vw 88vw 90vw;
    }
    60%{
        border-radius: 83vw 79vw 78vw 96vw;
    }
    75%{
        border-radius: 91vw 70vw 89vw 102vw;
    }

    88%{
        border-radius: 85vw 89vw 82vw 108vw;
    }

    100%{
        border-radius: 74vw 108vw 85vw 110vw;
    }
}


@keyframes profilepic1 {
    0%{
        border-radius: 73vw 100vw 77vw 102vw;
    }
    15%{
       
        border-radius: 69vw 98vw 85vw 110vw;
    }
    25%{
        border-radius: 68vw 85vw 95vw 98vw;
       
    }
    40%{
        border-radius: 70vw 88vw 83vw 108vw;
    }
    50%{
        border-radius: 83vw 75vw 78vw 96vw;
    }
    60%{
        
        border-radius: 78vw 70vw 88vw 90vw;
    }
    75%{
        border-radius: 85vw 89vw 82vw 108vw;
    }

    88%{
       
        border-radius: 91vw 85vw 89vw 102vw;
    }

    100%{
        border-radius: 73vw 100vw 77vw 102vw;
    }
}

.profile-det {
    width: 90%;
    height: 65%;
    position: relative;
    left: -11vw;
    top: 0vw;
    list-style: none;
    font-size: 2.5vw;
    letter-spacing: 0.1vw;
    font-family: nunito;
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    grid-template-rows: max-content 65%;
    justify-content: space-evenly;
    grid-template-columns: 50% 50%;
}


.profile-det li {
    list-style: none;
}
.username{
    list-style: none;
    font-size: 3vw;
    letter-spacing: 0.1vw;
    font-family: nunito;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: purple;
    grid-column: span 1 / 3;
    grid-column-start: 1;
    margin-bottom: 1vw;
   transition-duration: 0.2s;

}
.username:hover{
   font-size: 3.2vw; 
   transition-duration: 0.2s;
}

#nav-btns{
    position: absolute;
    width: 30vw;
    height: 65%;
    left: 70vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}

#nav-btns button{
    width: 95%;
    height: 4vw;
    box-shadow: 0 0 0px black;
    background-color: transparent;
    border-radius: 10vw 2vw 10vw 2vw;
    box-sizing: border-box;
    padding: 4px;
    cursor: pointer;
    transition-duration: 0.2s;
  position: relative;
  left: 0;
  border: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-size: 2.5vw;
  font-optical-sizing: auto;
  font-weight: 600;
  text-align: end;
  padding-right: 4vw;
  color: purple;
}
#nav-btns a {
    color: purple;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 40px;
    box-sizing: border-box;
    border-radius: 2px 0 0 50px;
    font-size: 1.9vw;
    transition-duration: 0.3s;
}


#nav-btns a:hover{
   font-size: 2.1vw;
    transition-duration: 0.3s;

}

#chatsbtn{
    a{
     color: gold;
     text-shadow: 2px 0.5px white;
     font-weight: 800;
   
    }
     animation: chatsbtn 3s  infinite  ease;
   }
   
   
   @keyframes chatsbtn {
     0%{
       transform: scale(1.02);
   
     }
     50%{
       transform: scale(1);
     }
     100%{
       transform: scale(1.02);
     }
   }

.followers{
    position: relative;
    width: 90%;
    height: 100%;
    overflow-y: scroll;
    background-color: transparent;
    box-sizing: border-box;
    padding: 2px;
    h6{
        margin: 0;
        font-size: 1.7vw;
        position: sticky;
        top: -0.3vw;
        background-color: #fff;
        z-index: 1;
    }
}
.following{
    position: relative;
    width: 90%;
    height: 100%;
    overflow-y: scroll;
    background-color: transparent;
    box-sizing: border-box;
    padding: 5px;
    h6{
        margin: 0;
        font-size: 1.7vw;
        position: sticky;
        top: -0.4vw;
        background-color: #fff;
        z-index: 1;
    }
}

.followers::-webkit-scrollbar{width: 0.1vw;height: 0vw;}
.followers::-webkit-scrollbar-track{
    background-color: #fff;
}
.followers::-webkit-scrollbar-thumb{
    background-color: purple;
    border-radius: 2vw;
}
.following::-webkit-scrollbar{width: 0.1vw; height: 0vw;}
.following::-webkit-scrollbar-track{
    background-color: #fff;
}
.following::-webkit-scrollbar-thumb{
    background-color: purple;
    border-radius: 2vw;
}

.followerli{
    font-size: 1.4vw;
    box-sizing: border-box;
    padding: 2px;
    overflow-x: scroll;
}
.followerli::-webkit-scrollbar{
    display: none;
}
.followerli:hover{
    color: purple;
    background-color: #fdf0ff;
    transform: scale(1.02);
}

.updatehold{
    display: none;
    align-items: center;
    justify-content: center;
}

.prof-update-btn{
    width: 20%;
    height: 2.5vw;
    border-radius: 10px;
    border: 0;
    background-color: purple;
    color: white;
    font-size: 1.5vw;
    font-family: 'Nunito';
    letter-spacing: 1px;
    margin: 10px 10px;
    box-shadow: 0 0 3px black;
}

#username-update-hold{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#update-btn{
    width: 0vw;
    height: 0vw;
    background-color: transparent;
    border-radius: 50vw;
    margin-left: 2vw;
    z-index: 1;
    display: none;
}
#update-btn svg{
    font-size: 0;
    cursor: pointer;
    z-index: 1;
}

#update-options{
    position: relative;
    left: -5vw;
    opacity: 0;
    visibility: hidden;
    display: initial;
    transition-duration: 0.4s;
    display: none;
}

#update-options div{
    font-size: 1.5vw;
    border-bottom: 1px solid purple;
    font-family: nunito;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 1px 10px;
    transition-duration: 0.2s;
}

#update-options div:hover{
  background-color: purple;
  color: #fff;
  transition-duration: 0.2s;

}
#update-input{
 font-size: 1.5vw;
 font-family: nunito;
}

#update-cancel{
    width: 20%;
    height: 2vw;
    border-radius: 10px;
    border: 0;
    background-color: purple;
    color: white;
    font-size: 1.2vw;
    font-family: 'Nunito';
    letter-spacing: 1px;
    margin: 10px 2vw;
    box-shadow: 0 0 3px black;
    display: none;
}
#newprofilepic{
    position: relative;
    width: 15vw;
    height: 3vw;
    background-color: purple;
    left: 0vw;
    top: 0vw;

    font-size: 1.2vw;
}
.profilepicture{
    width: 100%;
    height: 100%;
    animation: profilepic 8s infinite  ease;
    position: absolute;
    cursor: pointer;
}


#post-btn1{
    position: absolute;
    top: 11vw;
    height: 2vw;
    border-radius: 0.4vw;
    left: 6.5vw;
   display: none;
}
#cancelpic{
    position: relative;
    left: 0vw;
    top: 4vw;
    height: 2vw;
    border-radius: 0.4vw;
    background-color: rgba(253, 40, 40, 0.43);
}
#cancelpic:hover{
    background-color: red;
}
.selectimg{
    position: absolute;
    left: 0vw;
    top: 5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    font-family: nunito;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    z-index: 4;
    display: none;
}
.picupdateform{
    width: 20vw;
    height: 19vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}
#homeprofile{
    border-radius: 10px;
    left: 20vw;
    position: relative;
    width: 78vw;
    height: 70vh;
    background-color: #fff;
    min-height: 70vh;
    overflow-y: scroll;
    animation: home 0.5s 0s 1 ease;
    margin-bottom: 50vw;
    /* box-shadow: 0px 0px 5px inset; */
}
.confirmlogout{
    left: 0vw;
    position: fixed;
    margin: 28vw 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    background-color: transparent;
    z-index: 2;
    display: none;
    border-radius: 1vw;
    box-shadow: 0 0 10px;
    box-sizing: border-box;
    padding: 0.5vw;
    padding-top: 8vw;
    font-size: 1.3vw;
    font-family: nunito;
    font-weight: 600;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}
.confirmlogout iframe{
     width: 25%;
      height: 50%
}
.Nobtn{
    width: 8vw;
    font-size: 1.2vw;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 1px 2px black;
    box-sizing: border-box;
    
}
.logoutyesbtn{
    width: 8vw;
    background-color: red;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 2px black;
    box-sizing: border-box;
    cursor: default;
    
}
.logoutyesbtn a{
    font-size: 1.2vw;
    color: white;
}
#logoutbtn{
    width: 15%;
    height: 2vw;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    font-size: 1vw;
    outline: none;
    border: none;
    background-color: rgba(253, 40, 40, 0.43);
    color: #fff;
    font-family: nunito;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    left: -56vw;
    position: relative;
    z-index: 3;
    top: -2vw;
}
#logoutbtn:hover{
    background-color: red;
}
#logoutbtn a{
    color: #fdf0ff;
}
.loadingprofile{
    width: 60vw;
    height: 60vh;
    position: fixed;
    top: 10vw;
    left: 10vw;
    display: none;
}
#loggedoutscreen{
    width: 100vw;
    height: 100vh;
    z-index: 3;
    position: relative;
    padding-top: 8vw;
    box-sizing: border-box;
}
#loggedoutscreen p{
    font-size: 1.5vw;
    font-family: 'Nunito';
    font-weight: 600;
    width: 100vw;
    text-align: center;
    margin-top: 3vw;
}
#loggedoutscreen iframe{
    width: 100%;
    height: 40%;
}

@media screen and (min-width:300px) {
    @media screen and (max-width:600px) {

        .profile{
            width: 100vw;
            border-radius: 0;
            height: fit-content;
           display: flex;
           flex-direction: column;
           justify-content: space-around;
           align-items: center;
        }

        #nav-btns{
            width: 100vw;
            height: 5%;
            flex-direction: row;
            left: 0;
            margin-top: 95vh;
            margin-bottom: 0;
          box-shadow: 0px 1px 5px black;
            z-index: 3;
        }

        #nav-btns button{
            width: 20%;
            height: 100%;
            padding: 0;
            padding-right: 0;
            text-align: center;
            border-radius: 0;
            /* background-color: aqua; */

            a{
                color: black;
                padding: 0;
                font-size: 4vw;

            }
        }

        .logo-name{
            font-size: 6vw;
            margin-bottom: 5vw;
            position: sticky;
            z-index: 5;
            background-color: white;
            width: 100vw;
            height: 10vw;
            display: flex;
            align-items: center;
            padding-left: 4vw;
            top: 0vw;
            box-sizing: border-box;
        }
        .profilepic{
            width: 50vw;
            height: 50vw;
            left: 0;
            margin-bottom: 6vw;
        }
        .profilepic1{
            width: 50vw;
            height: 50vw;
        }
        .profile-det{
            left: 0;
            height: 50%;
            top: -5vw;

        }
        .username{
            font-size: 7vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .followers h6{
            font-size: 5vw;
            top: -1vw;
        }
        .following{
            width: 100%;
            padding-left: 30px;

            h6{
                font-size: 5vw;
                top: -1vw;
            }
            
        }
        .followerli{
            font-size: 4vw;
        }
        .selectimg{
            top: 10vw;
            font-size: 4.5vw
        }
        #post-btn1{
            top: 28vw;
            height: 6vw;
            border-radius: 0.4vw;
            left: 15.5vw;
            width: 20vw;
            font-size: 4.5vw;

        }
        #cancelpic{
            left: 0vw;
            top: 13vw;
            height: 6vw;
            width: 20vw;
            font-size: 4.5vw;

        }
        

        #homeprofile{
            width: 99%;
            height: 70vh;
            min-height: 70vh;
            left: 0vw;
            margin-bottom: 10vw;
        }
        #logoutbtn{
            font-size: 3vw;
            height: 5vw;
            width: 20%;
            top: -8vw;
           left: -38.5vw;
            z-index: 2;
            margin-bottom: 3vw;
        }
        .loadingprofile{
            left: 15vw;
            width: 70vw;
            height: 65vh;
        }
        /* .loadingstatement{
            left: -5vw;
        } */
        #loadingstatement1{
            left: -5vw;
        }
        .confirmlogout{
            top: 0vw;
            font-size: 4.5vw;
            margin: 0 0 ;
            z-index: 4;
            padding-top: 45vw;
        }
        .confirmlogout iframe{
            width: 50%;
            height: 40%;
        }
        .Nobtn{
            font-size: 3.5vw;
            width: 25vw;
            height: 7vw;
        }
        .logoutyesbtn{
            width: 25vw;
            height: 7vw;
        }
        .logoutyesbtn a{
            font-size: 3.5vw;
        }
        #loggedoutscreen p{
            font-size: 4.5vw;
            margin-top: 0vw;
        }
        #loggedoutscreen iframe{
            width: 50%;
            height: 50%;
            position: relative;
            left: 25vw;
            top: 15vw;
        }
        
    }
}


@media screen and (min-width:1025px) {
    @media screen and (max-width:1439px) {
        #nav-btns{
            left: 75vw;
            width: 25vw;
        }
        #nav-btns button{
            width: 100%;

        }
        #nav-btns a{
            font-size: 2.3vw;
            padding: 10px 20px;
        }
    }
}

@media screen and (min-width:760px) {
    @media screen and (max-width:1024px) {

        .logo-name{
            font-size: 4.5vw;
            margin-bottom: 5vw;
            position: sticky;
            z-index: 5;
            background-color: white;
            width: 100vw;
            height: 8vw;
            display: flex;
            align-items: center;
            padding-left: 4vw;
            top: 0vw;
            box-sizing: border-box;
        }

        #nav-btns{
            width: 100vw;
            height: 5%;
            flex-direction: row;
            left: 0;
            margin-top: 95vh;
            margin-bottom: 0;
          box-shadow: 0px 1px 7px black;
            z-index: 3;
            background-color: #fff;
        }

        #nav-btns button{
            width: 20%;
            height: 100%;
            padding: 0;
            padding-right: 0;
            text-align: center;
            border-radius: 0;
            /* background-color: aqua; */

            a{
                color: black;
                padding: 0;
                font-size:30px;

            }
        }

        .profile{
            height: fit-content;
            width: 100vw;
            border-radius: 0;
            grid-template-rows:6% 40% 0%;
        }
       
        .username{
            font-size: 5vw;
        }
        .profilepic{
            width: 30vw;
            height: 30vw;
            left: -5vw;
            box-shadow: 0 0 0px black;
        }
        .profilepic1{
            width: 30vw;
            height: 30vw;
        }
        .profile-det{
            left: -5vw;
            top: 2vw;
            width: 100%;
        }
        .followers h6{
            font-size: 3vw;
        }
        .following h6{
            font-size: 3vw;
        }
        .followerli{
            font-size: 25px;
        }
        .selectimg{
            font-size: 2.5vw;
        }
        #post-btn1{
            font-size: 2.5vw;
            width: 12vw;
            height: 4vw;
            top: 14vw;
            left: 6.5vw;
        }
        #cancelpic{
            font-size: 2.5vw;
            width: 12vw;
            height: 4vw;
            top: 8vw;
            left: 0vw;
         
        }
        #homeprofile{
            border-radius: 10px;
            left: 25vw;
            position: relative;
            width: 100vw;
            height: 50vh;
            background-color: #fff;
            min-height: 50vh;
            overflow-y: scroll;
            animation: home 0.5s 0s 1 ease;
            margin-bottom: 0vw;
            top: 50vw;
        }
        #logoutbtn{
            font-size: 3vw;
            height: 5vw;
            width: 30%;
            top: 5vw;
            left: -55.5vw;
            z-index: 0;
            margin-bottom: 3vw;
        }
        .confirmlogout{
            padding-top: 20vw;
            padding: 20vw;
            top: -30vw;
            font-size: 3.3vw;
        }
        .confirmlogout iframe{
            width: 70%;
            height: 50%;
        }
        #cancdel{
            font-size: 2.5vw;
            width: 20vw;
            height: 5vw;
        }
        .logoutyesbtn{
            width: 20vw;
            height: 5vw;
        }
        .logoutyesbtn a{
            font-size: 2.5vw;
        }

        #loggedoutscreen{
            padding-top: 40vw;
        }
        #loggedoutscreen iframe{
            height: 25%;
        }
        #loggedoutscreen p{
            font-size: 3vw;
        }
    }}